<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../spring_ioc/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../spring_ioc/spring-beans-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../spring_ioc/spring-context-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../spring_ioc/spring-core-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../spring_ioc/spring-expression-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>